In [2]:
#using print
print("this is my first command not 'Hello World'")

this is my first command not 'Hello World'

In [14]:
# using type
x="sumit"
y=10
z=5.10
a=True

print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [21]:
# using input
a = input("Enter the value A : ")
print("A :",a)

Enter the value A : sumit
A : sumit

In [16]:
# write a program to print
# multiline values with variable
# this is multiline comment  ctrl+/

In [17]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# Data type

In [19]:
# Data types are used before the variable, to know which type of values are stored in variable
# data types are actullay classes and variables are instance (object) of these classes
# 1)Numeric > integer , Float, complex number
# 2)Sequence Type > List, Tuple, String
# 3)Boolean > True , false
# 4)Set
# 5)Dictionary

In [25]:
# 1)Numeric
#int datatype
a=10
print(type(a))
    
#float datatype
b=10.5
print(type(b))
        
#complex datatype
c= 2+4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [29]:
# 2)Sequence
#list datatype
l1 =[ 1,2,3,4,5]
print(type(l1))

#string datatype
a= "Sumit Das"
print(type(a))

#Tuple datatype
z=(1,2,3,4,5,6,)
print(type(z))

<class 'list'>
<class 'str'>
<class 'tuple'>

In [30]:
# 3)Boolean datatype
a= True
print(type(a))
b= False
print(type(b))

<class 'bool'>
<class 'bool'>

In [31]:
# 4)Set datatype
f= {1,2,3,4,5}
print(type(f))

<class 'set'>

In [33]:
# 5)Dictionary
x={"key":"value", "name":"sumit"}
print(type(x))

<class 'dict'>

# Variables

In [43]:
#Variables are names to store some values
#It can store integers, float, string, boolean, set, tuple, list, and dictionary
#Rules of variables
    #Variable should start with Alphabet only
    #Variable name should not have whitespaces
    #we cannot use datatypes name as a variable name
    #variable name are significant5

In [39]:
#creating a variable
#integer value to the variable
a=10
print(a)
print(type(a))

#float value to the variable
b=10.5
print(b)
print(type(b))

#string value to the variable
c="sumit"
print(c)
print(type(c))

#list store in variable
li=[1,2,3,4,5,6]
print(li)
print(type(li))

#tuple store in variable
t=(1,2,3,4,5)
print(t)
print(type(t))

10
<class 'int'>
10.5
<class 'float'>
sumit
<class 'str'>
[1, 2, 3, 4, 5, 6]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

# Type Conversion

In [42]:
#Converting from one datatype to another type is called Type Conversion/ Type casting
a = int(input("Enter the value of A :"))
print("A :",a)
print(type(a))

Enter the value of A :10
A : 10
<class 'int'>

# Operators

In [44]:
#Operators are used to erform operations on variables and values in python
#Types of Operators:
# 1) Arithmetic operators
# 2) Assignment operators
# 3) Comparison operators
# 4) Logical operators
# 5) Identity operators
# 6) Membership operators

In [49]:
# 1) Arithmetic operators
#Addition Operator
x=10
y=20
z=x+y
print("Answer : ",z)

#Subtraction Operator
x=10
y=20
z=x-y
print("Answer : ",z)

#Multiplication Operator
x=10
y=20
z=x*y
print("Answer : ",z)

#Division
x=10
y=20
z=x/y
print("Answer : ",z)

#Modulus
x=10
y=20
z=x%y
print("Answer : ",z)

#Exponentiation
x=10
y=20
z=x**y
print("Answer : ",z)

#Floor division
x=10
y=20
z=x//y
print("Answer : ",z)

Answer :  30
Answer :  -10
Answer :  200
Answer :  0.5
Answer :  10
Answer :  100000000000000000000
Answer :  0

In [40]:
# 2) Assignment operators
#Equal to Operator
x= 5
print("Equal :",x)

#Addition and Equal operator
x=5 
x+=5 #x=x+5
print("Addition :",x)

#Subtraction and Equal Operator
x=5 
x-=5 #x=x-5
print("Subtraction :",x)

#Multiplication and Equal Operator
x=5 
x*=5 #x=x*5
print("Multiplication :",x)

#Division and Equal Operator
x=5 
x/=5 #x=x/5
print("Division :",x)

#Modulus and Equal Operator
x=5 
x%=5 #x=x%5
print("Modulus :",x)

#Exponentiation and Equal Operator
x=5 
x**=5 #x=x**5
print("Exponentiation :",x)

#Floor and Equal Operator
x=5 
x//=5 #x=x//5
print("Floor :",x)

# Bitwise AND Operator
x=5 
x&=5 #x=x&5
print("X :",x)

#Bitwise OR Operator
x=5 
x|=5 #x=x|5
print("X :",x)

#Bitwise XOR Operator
x=5 
x^=5 #x=x^5
print("X :",x)

#Left shit Operator
x=5 
x>>=5 #x=x>>5
print("X :",x)

#Right shift Operator
x=5 
x<<=5 #x=x<<5
print("X :",x)

Equal : 5
Addition : 10
Subtraction : 0
Multiplication : 25
Division : 1.0
Modulus : 0
Exponentiation : 3125
Floor : 1
X : 5
X : 5
X : 0
X : 0
X : 160

In [63]:
# 3) Comparison operators
#Equal to Equal to operator
x=5
y=5
print(x==y)

#not Equal to operator
x=5
y=6
print(x!=y)

#Greater than operator
x=6
y=5
print(x>y)

#Less than operator
x=5
y=6
print(x<y)

#Greater than or equal to operator
x=5
y=5
print(x>=y)

#Less than or equal to operator
x=5
y=5
print(x<=y)

True
True
True
True
True
True

In [100]:
# 4) Logical operators
#Returns True if both statements are true
x=5
print(x>3 and x<10)

# Returns True if one of the statements is true
x=10
print(x<3 or x <10)

# Reverse the result, returns False if the result is true
x=5
print (not(x>3 and x <10))

True
False
False

In [106]:
# 5) Identity operators
# Returns True if both variables are the same object
x = 5
y = 5
print(x is y)

# Returns True if both variables are not the same object
x = 5
y = 6
print(x is not y)

True
True

In [108]:
# 6) Membership operators
# Returns True if a sequence with the specified value is present in the object
x=["Apple", "Mango"]
print("banana" in x)

# Returns True if a sequence with the specified value is not present in the object

print("banana" not in x)

False
True

In [ ]:
#Operator Precedence
# ()                                     higher 
# **                                       |   
# +x,-x,~x                                 |
# *,/,//,%                                 |
# +,-                                      |
# <<,>>                                    |
# &                                        |
# ^                                        |
# |                                        |
# ==,!=,<,<=,>,>=,is,is not, in, not in    |
# not                                      |
# and                                      |
# or                                      lowest

In [110]:
Value = (1+1)*2**4//3+4-1
print(Value)

13

# Conditional Statement

In [6]:
# Conditional statement in python perform different computations or actions
# depending on whether a specific Boolean constraint evaluates to true or false.
# Conditional statements are handled by IF statement in Python

x = 10 
if(x==10):   #your condition is getting True
    print("value of variable is 10")
else:
    print("Good Bye")

x = 10 
if(x==12):   #your condition is getting false
    print("value of variable is 10")
else:
    print("Good Bye")

value of variable is 10
Good Bye

In [26]:
p = int(input("Enter your percentage : "))
if (p >= 70 and p<=100):
    print("Distinction")
elif (p >= 60 and p<70):
    print("1st Divison")
elif (p >= 50 and p<60):
    print("2nd Divison")
elif (p >= 33 and p<50):
    print("3rd Divison")
elif (p >= 0 and p<33):
    print("you are fail better luck next time")
else:
    print("You are enter wrong input")

Enter your percentage : 60
1st Divison

In [32]:
#Nested If

age = int(input("Enter your Age"))


if age >=18:
    weight = int(input("Enter your weight"))
    if weight >= 50:
        print("You are eligable for Blood Donation")
    else:
        print("You are not eligable because of your weight")
else:
    print("you are not eligable because of your age ")

Enter your Age150
Enter your weight10
You are not eligable because of your weight

# Loop

In [45]:
# Loop control statement change execution from its normal sequence.
# When execution leaves a scope, all automatic objects that were created in
# that scope are destroyed.

# while loop
sum = 0
n = int(input("N : "))
while n> 0:
    sum = sum+n
    n-=1
    print("sum :", sum)
print("Bye")

N : 20
sum : 20
sum : 39
sum : 57
sum : 74
sum : 90
sum : 105
sum : 119
sum : 132
sum : 144
sum : 155
sum : 165
sum : 174
sum : 182
sum : 189
sum : 195
sum : 200
sum : 204
sum : 207
sum : 209
sum : 210
Bye

In [48]:
# while loop with else part

sum = 0
n = int(input("N : "))
while n> 0:
    sum = sum+n
    n-=1
    print("sum :", sum)
else:
    print("loop finished")
print("Bye")

N : 2
sum : 2
sum : 3
loop finished
Bye

In [49]:
#Simple For loop

word = ["apple", "banana","orange","grapes","coconut"]
for i in word:
    print(i, "=" ,len(i))

apple = 5
banana = 6
orange = 6
grapes = 6
coconut = 7

In [53]:
#nested for loop

for i in range(1,6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [54]:
for i in range(5,0,-1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

In [4]:
#Looping Control Statement
#Break statement: Terminates the loop statement and transfer execution to the
                # statement immediately following loop

for letter in "Sumit Das":
    if letter == " ":
        #here i am using break statement to break execution
        break
    print("Current Letter : ",letter)
print("bye")

Current Letter :  S
Current Letter :  u
Current Letter :  m
Current Letter :  i
Current Letter :  t
bye

In [5]:
#Continue statement:Causes the loop to skip the remainder of its body and 
#                   immedately retest its condition prior to reiterating

for letter in "Sumit Das":
    if letter == " ":
        #Contine statement will skip the "space"
        continue
    print("current letter : ",letter)

current letter :  S
current letter :  u
current letter :  m
current letter :  i
current letter :  t
current letter :  D
current letter :  a
current letter :  s

In [6]:
#Pass statement: The pass statement in python is used when a statement is 
# required synatactically but you do not want any command or code to execute

for letter in "Sumit Das":
    if letter == " ":
        #Contine statement will skip the "space"
        pass
    print("current letter : ",letter)

current letter :  S
current letter :  u
current letter :  m
current letter :  i
current letter :  t
current letter :
current letter :  D
current letter :  a
current letter :  s

# String

In [9]:
#Strings in python are surrounded by either single quotation marks, or duble quotation marks.
#String is the collection of character
#String allow any datatype value to be store

# Single Quote in string
print('Sumit')

# Double Quote in string
print("Sumit")

#Multiline String
a ="""My name is Sumit Das,
I'm pursuing Btech computer science engineering
i'm very good in python
"""
print(a)

Sumit
Sumit
My name is Sumit Das,
I'm pursuing Btech computer science engineering
i'm very good in python

In [11]:
#update string

a = "Sumit Das"
print(a)
print("Update string : ",a [:6]+ "King")

Sumit Das
Update string :  Sumit King

In [16]:
# String Slicing
a = "Sumit Das"

#Access the value of Index 1
print("Index 1 : ",a[1])

#Access the value between index 1 to 8
print("Index between 1 to 8 : ", a[1:8])

#Access the value till index 5
print("Index till 5 : ", a[:5])

#Access the last value from string
print("last value : ", a[-2])

Index 1 :  u
Index between 1 to 8 :  umit Da
Index till 5 :  Sumit
last value :  a

In [27]:
#String In-Built Methods

#Capitalize() : This method converts the first character in string

a = "sumit das"
x = a.capitalize()
print("Capitalize : ",x)

#Casefold() : This method convert all capital letter into small

a = "Sumit Das"
x = a.casefold()
print("Casefold : ",x)

#Center() : This is use to bring your into center

a = "Sumit Das"
x = a.center(50)
print("Center : ",x)

#Count() : This method is used to count the repeated word in string

a = "My name is Sumit das and peoples call me Sumit"
x = a.count("Sumit") #count is case senstive
print("Count : ",x)

Capitalize :  Sumit das
Casefold :  sumit das
Center :                      Sumit Das
Count :  2

In [31]:
#Compare String
a = "Sumit Das"
b = "Sumit Das"
result= a == b
print(result)

a = 'A'
b = 'B'
result = a<b  # 'B' is bigger than 'A' acoding to dictonary
print(result)

True
True

# List

In [3]:
# List is Collection in Python, which store the data into sequence.
# List store multiple datatype value like String, int, Float, Character
# List works on index value which start from zero(0)
# List is mutable(Changeable at runtime) data structure.



# this list store the integer value
l1=[1,2,3,4,5,6,7,8,9,10]

# This list store the string value
l2=["Apple","Mango","Orange"]

print("Integer list : ",l1)
print("String list : ",l2)

#Duplicate values in list
l1=[1,2,3,4,5,6,1,2,3,4]
print("Duplicate value : ",l1)

Integer list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
String list :  ['Apple', 'Mango', 'Orange']
Duplicate value :  [1, 2, 3, 4, 5, 6, 1, 2, 3, 4]

In [15]:
#List Contructor

l1=list(("Apple","Mango","Orange")) # Note there is Double Brackets
print(l1)


# list Slicing
l1=[1,2,3,4,5,6,7,8,9,10]
print(l1)

#Access the index value
print(l1[5])

#Access the index value between 1 to 6
print(l1[1:6])

#Access the last index value
print(l1[-1])

['Apple', 'Mango', 'Orange']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
6
[2, 3, 4, 5, 6]
10

In [39]:
#List item Change

l1=["Apple","Mango","Orange","Cherry","Kiwi"]
print(l1)

# Change the item in list
l1[1:3]=["Grapes","watermelon"]
print("change list : ",l1)


#Insert into list
l1.insert(2,"litchi")
print("Insert list : ",l1)


# Extend the list
l2 = [1,2,3,4,5,6,7,8,9,10]
l1.extend(l2)
print("Extened list : ",l1)



#Remove item from list
l1 =["Apple","Mango","Orange","Cherry","Kiwi"]
l1.remove("Mango")
print("Remove mango in the  list : ",l1)


#pop(): This method is used to remove last value from list
l1 = [1,2,3,4,5,6,7,8,9,10]
l1.pop()
print("Remove last item in the  list : ",l1)

#del() : This method is used to remove item from the index
l1 = [1,2,3,4,5,6,7,8,9,10]
del l1[3]
print("Remove 4 in the  list : ",l1)

#clear() : This method is used to clear the list
l1 = [1,2,3,4,5,6,7,8,9,10]
l1.clear()
print("Updated list : ",l1)

['Apple', 'Mango', 'Orange', 'Cherry', 'Kiwi']
change list :  ['Apple', 'Grapes', 'watermelon', 'Cherry', 'Kiwi']
Insert list :  ['Apple', 'Grapes', 'litchi', 'watermelon', 'Cherry', 'Kiwi']
Extened list :  ['Apple', 'Grapes', 'litchi', 'watermelon', 'Cherry', 'Kiwi', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Remove mango in the  list :  ['Apple', 'Orange', 'Cherry', 'Kiwi']
Remove last item in the  list :  [1, 2, 3, 4, 5, 6, 7, 8, 9]
Remove 4 in the  list :  [1, 2, 3, 5, 6, 7, 8, 9, 10]
Updated list :  []

# Tuple

In [15]:
# Tuple is collection in Python.
# Tuple is Immutable(No Changeable at Runtime).
# Tuple allows multiple datatype values to be store.
# Tuple is working on index value starting from zero(0).

#How to create Tuple
t1=("Apple","Mango","Orange","Cherry",1,2,3,4,5,6,10.5,12.5,5,"Apple")
print(t1)

print("")

#How to check a length of Tuple
print("lenth of Tuple : ",len(t1))

print("")

#Accessing the value by using index
print("Index value : ",t1[3])

print("")

#Accessing the value between index 1 to 6
print("Index between : ",t1[1:6])

print("")

#Accessing the last value
print("Index  last value: ",t1[-1])

print("")

#Accessing the value till 6
print("Value till index : ",t1[:6])

('Apple', 'Mango', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 6, 10.5, 12.5, 5, 'Apple')

lenth of Tuple :  14

Index value :  Cherry

Index between :  ('Mango', 'Orange', 'Cherry', 1, 2)

Index  last value:  Apple

Value till index :  ('Apple', 'Mango', 'Orange', 'Cherry', 1, 2)

In [16]:
# Convert Tuple into List

t1=("Apple","Mango","Orange","Cherry",1,2,3,4,5,6,10.5,12.5,5,"Apple")

x= list(t1)
print(x)

['Apple', 'Mango', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 6, 10.5, 12.5, 5, 'Apple']

In [17]:
# Tuple Constructor
t2= tuple(("Apple","Mango","Orange","Cherry")) #note the double round-brackets
print(t2)

('Apple', 'Mango', 'Orange', 'Cherry')

In [20]:
# Add item but after coverting tuple into list
t1=("Apple","Mango","Orange","Cherry")
x=list(t1)
x.insert(2,"licthi")
z=tuple(x)
print(z)

('Apple', 'Mango', 'licthi', 'Orange', 'Cherry')

In [30]:
#for loops with tuple

t1=("Apple","Mango","Orange","Cherry")
for i in t1:
    print(i)

print("")    
#while loop with tuple
i=0
while i<len(t1):
    print(t1[i])
    i=i+1
else:
    print("loop finish")

Apple
Mango
Orange
Cherry

Apple
Mango
Orange
Cherry
loop finish

In [32]:
#How to compare Tuples

t1=(1,2,3)
t2=(1,2,4)
print(t1==t2)
print(t1<t2)

False
True

# Dictionary

In [34]:
# Dictionary is a collection of python, which works on key and value pair.
# Dictionary follows the ordered container or collection.
# Dictionary has immutable key and value could be immutable and mutable both
#  which depends upon what value you are storing.

In [36]:
d1={1:"Apple",2:"Mango",3:"Orange",4:"Cherry"}
print(d1)
print(type(d1))

{1: 'Apple', 2: 'Mango', 3: 'Orange', 4: 'Cherry'}
<class 'dict'>

In [42]:
#list into Dictonary store
d1={1:"python",2:"java","fruits":["Apple","Mango","Orange","Cherry"]}
print(d1)

print("")

# tuple into Dictonary store
d1={1:"python",2:"java","fruits":("Apple","Mango","Orange","Cherry")}
print(d1)

{1: 'python', 2: 'java', 'fruits': ['Apple', 'Mango', 'Orange', 'Cherry']}

{1: 'python', 2: 'java', 'fruits': ('Apple', 'Mango', 'Orange', 'Cherry')}

In [58]:
#Access the value of Dictonary
d1={1:"Apple",2:"Mango",3:"Orange",4:"Cherry"}

#Access the value using key
x= d1[3]
print(x)

#Access the value using get()
x=d1.get(2)
print(x)

#Access the value using items()
x=d1.items()
print(x)

#Access the only keys from Dictionary
x=d1.keys()
print(x)

#Access the only values from Dictionary
x=d1.values()
print(x)

Orange
Mango
dict_items([(1, 'Apple'), (2, 'Mango'), (3, 'Orange'), (4, 'Cherry')])
dict_keys([1, 2, 3, 4])
dict_values(['Apple', 'Mango', 'Orange', 'Cherry'])

In [51]:
# Change the value
d1={1:"Apple",2:"Mango",3:"Orange",4:"Cherry"}
d1[3]="kiwi"
print(d1)

#update dictionary by using update()
d1.update({2:"Banana"})
print(d1)

{1: 'Apple', 2: 'Mango', 3: 'kiwi', 4: 'Cherry'}
{1: 'Apple', 2: 'Banana', 3: 'kiwi', 4: 'Cherry'}

In [56]:
#Remove values from dictionary

#using pop method
d1={1:"Apple",2:"Mango",3:"Orange",4:"Cherry"}
d1.pop(2)
print(d1)

# using pop item        #remove last value
d1={1:"Apple",2:"Mango",3:"Orange",4:"Cherry"}
d1.popitem()
print(d1)

#using del()
d1={1:"Apple",2:"Mango",3:"Orange",4:"Cherry"}
del d1[1]
print(d1)

#using clear()
d1={1:"Apple",2:"Mango",3:"Orange",4:"Cherry"}
d1.clear()
print(d1)

{1: 'Apple', 3: 'Orange', 4: 'Cherry'}
{1: 'Apple', 2: 'Mango', 3: 'Orange'}
{2: 'Mango', 3: 'Orange', 4: 'Cherry'}
{}

# Functions

In [59]:
# Function is a block of code which only runs when is called.
# Function is also used for reusability of code.
# Function is start with "def" keyword

# Types of Functions
#     Built-in Function
#     User-define Function
#     Anonymous Function

In [ ]:
# In-built Function
# Print()
# range()
# len()
# Round()
# Max()
# Min()

In [17]:
# User-define Function

#create function

def myfunction():
    print("sumit das")
    
myfunction()


# Function with one Argument

def myfunction(a):
    print(a)
myfunction(10) #passing argument as a 10


#Multiple Arguments
def myfunction(a,b):
    print(a)
    print(b)
myfunction(15,20)

#Keywords arguments

def myfunction(child3,child2,child1):
    print(child3)

myfunction(child2="Arun",child1="rahul",child3="yogi")


def myfunction(state="Delhi"):
    print("I am from : "+state)

myfunction()
myfunction("mumbai")

#Passing a list into function

def myfunction(fruit):
    for i in fruit:
        print(i)
f= ["Apple","Mango","Orange"]
myfunction(f)


#Return Values from Function

def myfunction(x):
    return 5*x
print(myfunction(6))
myfunction(5)


#Recursion Function :- The function which call itself

def factorial(x):
    if x== 1:
        return 1
    else:
        return(x*factorial(x-1))
num = int(input("Num : "))
print("The factorial of ",num,"is :",factorial(num))

sumit das
10
15
20
yogi
I am from : Delhi
I am from : mumbai
Apple
Mango
Orange
30
Num : 5
The factorial of  5 is : 120

In [3]:
#Anonymous Function (Lambda Function)

x = lambda a: a+10
print(x(5))

#Lambda Function with multiple Arguments
y= lambda a,b:a*b
print(y(5,10))

15
50

In [8]:
#Global Variable :the variable can be use anywhere in the program

z= 25
def myfunction():
    global z
    print(z)
    z = 20
myfunction()
print(z)

25
20

In [9]:
#Local Variable: The variable which can be used in it scope

def sum(x,y):
    sum = x+y
    return sum
print(sum(5,10))

15

# Random Module

In [10]:
# Python provide multiple inbuilt function that are used to choose or generate 
    # random number by using random module.

#Random Number Operations

#    Choice():choice() is inbuilt function of random module, which is used to
#        return random number from list, tuple,set.
#    Randint(): randint()is inbuilt function of random module, which is used to
#        generate random number from particular given range.
#    Shuffle():shuffle() is inbuilt function of random module, which is used to
#        shuffle a value of list

In [11]:
# import Random

# from random import functionname    1st method

#import random 2nd method

In [11]:
#choice()
# from random import choice
import random
l1 = [1,2,3,4,5,6,7,8,9,10]
print(random.choice(l1))

1

In [7]:
#Randint()
import random
otp = random.randint(100000,999999)
print("Your Otp : ",otp)

Your Otp :  321428

In [14]:
#Shuffle()
import random
random.shuffle(l1)
print(l1)

[8, 3, 2, 10, 4, 6, 1, 7, 5, 9]

# Math Module

In [ ]:
# Math Module is used to do a mathematical task in python by importing "math".

# Factorial() : this function return factorial number.
# Ceil() : This function is used to round up of the integer.
# Floor() : This function is used to round down of the integer.
# Sqrt() : This function is used to return square root of the value.


# Import math

In [26]:
#Factorial()
import math
x=13
print(math.factorial(1))
print(math.factorial(2))
print(math.factorial(3))
print(math.factorial(9))
print(math.factorial(12))
print(math.factorial(x))

1
2
6
362880
479001600
6227020800

In [24]:
#ceil()
import math
x= 5.6
print(math.ceil(1.1))  #nearest upper integer value
print(math.ceil(x))

2
6

In [25]:
#floor()
import math

print(math.floor(1.9)) #nearest down integer value
print(math.floor(x))

1
5

In [27]:
#sqrt()
import math
x=144
print(math.sqrt(25))
print(math.sqrt(x))

5.0
12.0